span.peter.parker {
    color: orange;
}
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.fifst-section {
    width: 50%;
    float: left;
   
}
.send-section{
    width: 50%;
    float: left;
}
.send-section img{
    width: 100%;

}
.header {
    background-image: url("img/top.png");
    
}
section {
   
 
    height: 500px;
}
.wel {
    font-size: 50px;
    margin-left: 90px;
}

h1.world {
    margin-left: 90px;
    font-size: 40px;
}
h3.build {
    font-size: 22px;
    margin-left: 90px;
}
p.you-might {
    margin-left: 90px;
}
.link {
    padding-left: 90px;
    /* background-color: orange; */
}
a.button {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.part {
    width: 50%;
    float: left;
}
.part img{
    width: 100%;


}
section.dream {
    padding: 70px;
}

h1.dream-big {
    font-size: 40px;
}
p.i-already {
    display: inline-block;
    width: 45%;
}
a.downlod {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(lightsalmon,tomato);
    color: white;
    font-weight: 700px;
    border-radius: 5px;
    font-weight: bold;
}
.dream{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.half-width {
  
  padding-left: 70px;
  height: 80%;
   
   
    width: 40%;
    float: left;
}
.web-developer {
    padding-left: 100px;
}
h3.orange-colar {
    font-weight: 500;
    color: orange;
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    border-radius: 5px;
}
.Experiences-area{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border-left: solid 7px ;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: solid 7px;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
h1.expar {
    font-size: 40px;
}